---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>My Teaching Portfolio</h2>
<p>Below are the courses I have taught or am currently teaching:</p>

<ul>
  {% for post in site.teaching reversed %}
    <li>
      <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
      <p>{{ post.type }} - {{ post.location }}</p>
      
      {% if post.github %}
        <a href="{{ post.github }}" target="_blank">GitHub Repository</a>
      {% endif %}

      {% if post.website %}
        | <a href="{{ post.website }}" target="_blank">Course Website</a>
      {% endif %}

      {% if post.syllabus %}
        | <a href="{{ post.syllabus }}" target="_blank">Syllabus (PDF)</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
